	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

<div class="row">

  {{#each articles}}

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>{{this.title}}</h4>
      </div>
      <div class="card-body">
        {{this.summary}}<br>
        <a href="{{this.link}}" target="_blank">View full article</a><br>
        <button class="btn btn-primary">Save Article</button>
      </div>
    </div>
  </div>
{{/each}}

</div>

