body, html {
  font-family: 'PT Sans', sans-serif;
  background-image: url('/assets/images/paper_3.png');
  color: white;
}
.top-nav {
  margin-bottom: 20px;
}
.scrape-button {
  margin-left: 10px;
}
.card {
  margin-bottom: 20px;
  border: 1px solid #1b0429
}
.card-body {
  color: black;
}
.card-header {
  padding-bottom: 0;
  padding-top: 10px;
  background-color: #1b0429
}
h4 {
  margin-bottom: 0;
}
.jumbotron {
  background-color: #1b0429
}
.save-button {
  float: right;
  margin-bottom: 5px;
}
.add-note {
  float: left
}
.view-art {
  margin-bottom: 20px;
  float: right;
}
.delete-art {
  margin-left: 10px;
}
.list-group {
  margin-bottom: 20px;
}
.sticky-bottom {
  color: black;
  height: 90px;
}
.heroku {
  height: 32px;
}
.fa-github {
  color: black;
  float: right;
}
.code {
  float: right;
}
.modal-title, .modal-text, .existing-notes {
  color: black;
}